footer {
  height: 30px;
  width: 100%;
  padding-top: 10px;
  color: #ff3737;
  background-color: white;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  footer {
    font-size: 13px;
  }
}
